@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(73, 73, 73);
}

* {
    font-family: "Mulish", sans-serif;
    padding: 0;
    margin: 0;
    user-select: none;
}

#calculator {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 30vw;
    border-radius: 30px;
    background-color: black;
    margin-right: 100px;
}

#result {
    border-radius: 30px;
    height: 15vh;
    width: 23vw;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: white;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 5vh;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#result::-webkit-scrollbar {
    display: none;
}

#keypad {
    height: 50vh;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 1vh;
}

.key {
    height: calc((50vh - 3vh) / 4);
    width: calc(25vw / 5);
    font-size: large;
    font-weight: bold;
    border-radius: 15px;
}

.key:hover {
    background: #dddddd;
}